<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshsipdrink.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FreshSip"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.FreshSip">

        <activity
            android:name=".OrderSuccessActivity"
            android:exported="false" />

        <activity
            android:name=".MocktailDetailActivity"
            android:exported="false" />

        <!-- exported="true" if accessed via deep links or other apps, false if internal only -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".AuthActivity"
            android:exported="false" />

        <!-- Launcher entry point -->
        <activity
            android:name=".GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>